:root {
	font-size: 16px;
	--box-shadow: #0084ff;
	--border: #bb00ff;
	--header: #bb00ff;
}

html,
body {
	padding: 0;
	margin: 0;
}

body {
	background-color: #00ffbb;
	background-image: url(/assets/cross-stripes.png);
	font-family: Constantia, 'Lucida Bright', Lucidabright, 'Lucida Serif', Lucida,
		'DejaVu Serif', 'Bitstream Vera Serif', 'Liberation Serif', Georgia, serif;
}

@media screen and (min-width: 611px) {
	body {
		display: grid;
		grid-template-columns: repeat(6, 1fr);
	}
}

header {
	background-color: var(--header);
	color: white;
	position: relative;
	max-width: 400px;
	padding: 1rem;
	overflow: hidden;
	margin: 2rem;
	box-sizing: border-box;
	grid-column: 4 / 7;
	box-shadow: 1rem 1rem var(--box-shadow);
}

header span {
	display: block;
}

h1,
[role='subheading'] {
	font-size: 250%;
	text-shadow: 2px 2px #111;
}

header:after {
	display: block;
	content: '';
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	width: 100px;
	background-image: url(/assets/lightbulb.svg);
	background-repeat: no-repeat;
	background-position: center;
	transform: rotate(25deg) scale(2);
	opacity: 0.2;
}

main {
	background-color: white;
	grid-column: 2 / 5;
	align-self: stretch;
	margin: 2rem;
	box-sizing: border-box;
	padding: 2rem;
	box-shadow: -1rem 1rem var(--box-shadow);
	border: 8px solid var(--border);
}

footer {
	grid-column: 2 / 5;
	justify-self: center;
	width: -moz-fit-content;
	width: fit-content;
	padding: 1rem;
	margin: 2rem;
	background-color: var(--header);
	box-shadow: 0.5rem 0.5rem var(--box-shadow);
	font-family: monospace;
}

.footer-content {
	margin: 0;
	line-height: 1;
}

.footer-content + .footer-content {
	margin-top: 1rem;
}

.tweet-text {
	font-size: 200%;
	margin-top: 0;
}

.tweet + .tweet {
	margin-top: 3rem;
}

.source-link {
	color: white;
}

.nav {
	padding-left: 0;
	list-style: none;
}
